@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
body {
    background-color: #1d2020;
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
    font-size: large;
}